body{
    background: linear-gradient(black, rgba(0, 0, 0, 0.1)), url("../img/login_img.jpg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: 600;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
}

 section{
    text-align: center;
}

 h1{
    color: #fff;
    font-size: clamp(24px, 6vw, 4rem);
    margin-bottom: 70px;
 }

 a{
    text-decoration: none;
    font-family: arial, sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 1.2rem;
    transition: 0.3s;
 }

 .button{
    border: 1px solid rgba(255,255,255, .2);
    background: white;
    color: black;
    padding: 15px 25px;
    font-size: 1.2rem;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s;
    margin: 20px;
 }

 .button:hover{
    border: 1px solid rgba(255,255,255, .4);
    background: black;
    color: white;
}


 /******************
 responsive design
  *******************/


@media(max-width:768px) {
.button{
    padding: 10px 20px;
    font-size: 1rem;
}
}