main {
    min-height: 100vh;
    background: #f5f5f5 ;


}

/*main heading*/

.main-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    margin-bottom: 20px;
    border-bottom:3px solid #f0f4f7 ;
    padding-top: 70px;
}

.main-heading h1 {
    text-align: left;
    margin-left: 25px;
    padding-bottom: 30px;
    padding-top: 30px;
    color: rgb(0, 0, 0);
    font-size: 30px;
}




.create_workout {
    flex-shrink: 0;
    width: 150px;
    height: 35px;
    text-align: center;
    padding: 10px 20px;
    margin-right: 60px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    background: forestgreen;
    border-radius: 10px;
}

/*main heading responsive */
@media (max-width: 650px) {
    .main-heading {
        flex-direction: column;
        align-items: center;
    }


    .create-exercise {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .main-heading h1 {
        margin-left: 0;
        padding-bottom: 18px;
    }
}

@media (max-width: 700px) {
    .main-heading {
        padding-left: 0px;
        justify-content: center;
    }

    .create_workout {
        margin-right: 0;
        margin-bottom: 15px;
    }
}



/* Styly pro tlačítka v záložkách */
section {
    display: block;
    margin-left: 215px;
}


.tab {
    overflow: hidden;
    border: 1px solid #f0f4f7;
    background-color: #ddf1ff;
    border-radius: 6px;
    border: 2px solid #d3d3d347;
    margin-inline: 15px;
    margin-bottom: 4px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tablink {
    background-color: #f2f2f2;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 6px;
}

.tab button:hover {
    background-color: #00bfffab;
}

.tab button.active {
    background-color: #00bfffab;
}

/* Styly pro obsah záložek */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}



.workout-name {
    display: flex;
    align-items: center; /* Zarovnání obsahu vertikálně */
    margin-bottom: 10px; /* Mezera mezi jednotlivými položkami */
    border-bottom: 4px solid #e3e3e3;
    margin-inline: 5px;
    background: white;
    padding: 10px;
    border-radius: 6px;
}

.workout-name span {
    flex: 1; /* Název cvičení zabírá veškerý dostupný prostor */
    margin-right: 10px; /* Mezera mezi názvem cvičení a tlačítkem */
}

.workout-name .btn {
    background-color: #00bfffab;
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-block: 12px;
}

@media (max-width: 700px) {
    section {
        margin-left: 0;
    }
}

